<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>.</p>
    <br />
    <p>This project was created by Express-generator and is going to show you how SwaggerUI can help you test your Restful APIs.</p>
    <a href="https://comp2912-demo.herokuapp.com/docs/">SwaggerUI</a>
  </body>
</html>
